* {
    word-break: break-word;
}

.global-notification {
    padding: 1rem;
    margin: 0 auto 1rem;
}

.name {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.friends-list .card-body > .row {
    align-items: center;
}

.post-form > div:first-child {
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
}

.profile > .row {
    align-items: center;
}

.post .card-header {
    display: flex;
    align-items: center;
}

.vote-btn-container {
    justify-content: flex-end;
}

.vote-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    color: black;
    width: 2rem;
    height: 2rem;
    margin: 0 0.2rem;
}

.vote-btn:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.avatar {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}

.post .avatar {
    height: 2rem;
    width: 2rem;
}

.birthdate {
    font-size: 0.7rem;
    font-style: italic;
}

.post-img {
    width: 100%;
}

.chat {
    display: none;
    position: absolute;
    background-color: white;
    max-width: 20rem;
    z-index: 1000;
}

.chat .card-body {
    max-height: 20rem;
    overflow: auto;
}

.chat-form {
    width: 100%;
    flex-direction: row;
}

