#notification {
    padding: 1rem;
    margin: 0 auto 1rem;
}


.friends-list {
    position: fixed;
    top: 4rem;
    left: 0;
}

.profile {
    /*padding: 1rem;*/
}

.profile > .row > .col {
    padding: 1rem;
}

.vote-btn-container {
    justify-content: flex-end;
}

.vote-btn {
    background: inherit !important;
    color: black !important;
    width: 2.5rem;
    height: 2.5rem;
}