#notification {
    padding: 1rem;
    margin: 0 auto 1rem;
}


.friend-list {
}

.profile {
    padding: 1.5rem;
}

.vote-btn-container {
    justify-content: flex-end;
}

.vote-btn {
    background: inherit !important;
    color: black !important;
    width: 2.5rem;
    height: 2.5rem;
}

.avatar {
    border-radius: 50%;
    height: 3rem;
}